{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
PRODUCT RATING BADGE - FIXED VALUES
----------------------------------------------------------------------------------------------------------------------

This version forces the rating value to 4.7 and the rating count to 100.
{%- endcomment -%}

{%- liquid
  assign rating_value = 4.7
  assign rating_count = 6202
  assign rating_max = 5

  assign rating_decimal = 0
  assign decimal = rating_value | modulo: 1

  if decimal >= 0.3 and decimal <= 0.7
    assign rating_decimal = 0.5
  elsif decimal > 0.7
    assign rating_decimal = 1
  endif
-%}
    <a href="#testimonials">
<div class="testimonials-rating-template--24330565714232__ss_testimonial_8_fwYxMz text-align-center testimonials-head pt-25" style="  justify-content: flex-start !important;
    display: flex; justify-content: center; align-items: center;  gap: 10px;  justify-content: flex-start !important;">
      
            <p class="">Excellent</p>
          
          
           <p class=""> <span>4.8</span><strong>/ 5</strong></p>
          
          
          
            <div class="testimonials-stars" style="display: flex; align-items: end; gap: 5px;">

              <style>
                .testimonials-stars svg {
    width: 1.2rem;
    height: 1.2rem;
}
              </style>
                  
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      
                      <rect width="32" height="32" fill="#00B67A"></rect>
                      <g clip-path="url(#clip0_25_4)">
                      <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#FFFFFF"></path>
                      </g>
                      <defs>
                      <clipPath id="clip0_25_4">
                      <rect width="22" height="22" fill="#FFFFFF" transform="translate(5 5)"></rect>
                      </clipPath>
                      </defs>
                    </svg>
                  
                  
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      
                      <rect width="32" height="32" fill="#00B67A"></rect>
                      <g clip-path="url(#clip0_25_4)">
                      <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#FFFFFF"></path>
                      </g>
                      <defs>
                      <clipPath id="clip0_25_4">
                      <rect width="22" height="22" fill="#FFFFFF" transform="translate(5 5)"></rect>
                      </clipPath>
                      </defs>
                    </svg>
                  
                  
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      
                      <rect width="32" height="32" fill="#00B67A"></rect>
                      <g clip-path="url(#clip0_25_4)">
                      <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#FFFFFF"></path>
                      </g>
                      <defs>
                      <clipPath id="clip0_25_4">
                      <rect width="22" height="22" fill="#FFFFFF" transform="translate(5 5)"></rect>
                      </clipPath>
                      </defs>
                    </svg>
                  
                  
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      
                      <rect width="32" height="32" fill="#00B67A"></rect>
                      <g clip-path="url(#clip0_25_4)">
                      <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#FFFFFF"></path>
                      </g>
                      <defs>
                      <clipPath id="clip0_25_4">
                      <rect width="22" height="22" fill="#FFFFFF" transform="translate(5 5)"></rect>
                      </clipPath>
                      </defs>
                    </svg>
                  
                  
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      
                      <rect width="32" height="32" fill="#00B67A"></rect>
                      <g clip-path="url(#clip0_25_4)">
                      <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="#FFFFFF"></path>
                      </g>
                      <defs>
                      <clipPath id="clip0_25_4">
                      <rect width="22" height="22" fill="#FFFFFF" transform="translate(5 5)"></rect>
                      </clipPath>
                      </defs>
                    </svg>
                  
                
            </div>
               </div>
                  </a>