<section class="features">
  <div class="container">
    <div class="features-container">
      {% for block in section.blocks %}
        <div class="feature-item">
          {% if block.settings.icon != blank %}
            <img src="{{ block.settings.icon | img_url: '50x' }}" alt="{{ block.settings.feature_text }}" class="feature-icon">
          {% endif %}
          <p>{{ block.settings.feature_text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Features",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "feature_text",
          "label": "Feature Text",
          "default": "Feature"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features",
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "feature_text": "FDA Regulated"
          }
        },
        {
          "type": "feature",
          "settings": {
            "feature_text": "Veterinarian Approved"
          }
        },
        {
          "type": "feature",
          "settings": {
            "feature_text": "Loved By Dogs"
          }
        },
        {
          "type": "feature",
          "settings": {
            "feature_text": "Human Quality Ingredients"
          }
        },
        {
          "type": "feature",
          "settings": {
            "feature_text": "Money Back Guarantee"
          }
        }
      ]
    }
  ]
}
{% endschema %} 