<footer>
  <div class="footer-links">
    <ul>
      <li><a href="/policies/refund-policy">Returns & Exchanges</a></li>
      <li><a href="/pages/faq">Help & FAQ</a></li>
      <li><a href="/pages/about">About GumPaws</a></li>
      <li><a href="/pages/contact">Contact Us</a></li>
    </ul>
  </div>
  <div class="footer-copyright">
    <p>&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}. All rights reserved.</p>
  </div>
</footer> 