<header>
  <div class="logo">
    <a href="/">
      <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }} Logo">
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="/collections/all">All Products</a></li>
      <li><a href="/pages/about">About Us</a></li>
      <li><a href="/pages/contact">Contact</a></li>
    </ul>
  </nav>
</header> 