<header>
  <div class="logo">
    <a href="/">
      <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }} Logo">
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pages/shop">Shop</a></li>
      <li><a href="/pages/the-science">The Science</a></li>
      <li><a href="/pages/about">About Us</a></li>
      <li><a href="/customer_authentication/redirect?locale=en&region_country=US">Login</a></li>
      <li><a href="/cart">Cart</a></li>
    </ul>
  </nav>
</header> 