{% schema %}
{
  "name": "Health First Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Health First. Everything Second."
    },
    {
      "type": "textarea",
      "id": "paragraph_1",
      "label": "First Paragraph",
      "default": "Stare into your dog’s eyes — like us, you know there is a world of compassion, emotion, and thought beyond the barking."
    },
    {
      "type": "textarea",
      "id": "paragraph_2",
      "label": "Second Paragraph",
      "default": "We believe Dog is Human. Thus, we’re on a mission to empower dogs to live their healthiest lives by raising the standard of pet health."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Center Image"
    }
  ],
  "presets": [
    {
      "name": "Health First Section",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}


<section class="health-first-section  padding-top-75 padding-bottom-75 page-container"  style=" text-align: center;">
  <h2  class="title-section padding-bottom-25" style=" text-align: center;">
    <span style="color: #ff4d00!important;">Happy, Healthy,</span> {{ section.settings.heading }}
  </h2>

  <p  class="sub-title" style="
    text-align: center;
">
    {{ section.settings.paragraph_1 }}
  </p>
  <p  class="sub-title">
    {{ section.settings.paragraph_2 }}
  </p>
</section>
