/* Media Queries */
@media (min-width: 768px) {
    .hide-pc {
        display: none !important;
    }

  .title-line-item {
    font-size: 1rem;
  }
}

 .icon-discount {
    margin-left: 9px !important;
}

.breed-option {
    text-transform: capitalize;
}

.line-item-info a.h6{
  font-size: 1.1rem;
}

 .our-Gummies  {
    max-width: 0.4rem !important;
    min-width: 4rem!important;
      display: block;
    top: -40px!important;
}

.gallery-item {
         border-right: 5px solid #fff !important;
    border-left: 5px solid #fff !important;
}


[data-tf-widget="LjDYNk2c"] {
top: 40px !important;
  z-index: 999999999999999999999999999999;
position: relative;
    min-height: calc(100vh - 50px);
 
}


[data-testid="tf-v1-widget"]{
top: 40px !important;

z-index: 999999999999999999999999999999;
position: relative;

}



[data-tf-widget="P8m4HlBR"] {
top: 40px !important;
z-index: 999999999999999999999999999999;
position: relative;
    min-height: calc(100vh - 50px);
}


 .shopify-section--announcement-bar  {
   order: 99!important;
position: relative;
 }

.text-subdued {
  font-size: 0.85rem;
}
.custom-product-grid-wrapper .product-card:first-child {
    margin-left: 0px;
}


/* General Styling */

.no-margin {
  margin: 0px!important;
}

@media (min-width: 1451px) {
html {
    font-size: 18px!important;
}
}

.discount-badge {
    border-radius: 100px;
    background: transparent;
    color: #f25314;
    border: 1px solid;
}

.button-group .cta_button {
    min-width: 100%;
}
@media (max-width: 1450px) and (min-width: 1200px) {
  html {
    font-size: 16px!important; 
  }
}

@media (max-width: 1200px) and (min-width: 1024px){
  html {
    font-size: 15px!imortant;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  html {
    font-size: 14px!important;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px; 
  }
  .product-gallery__thumbnail-scroller {
    gap: 5px;
  }
.product-gallery {
      gap: 10px;
}
.three-steps-section .div_round {
   
    height: auto !important;
    padding-top: 15px !important;
}
}


.header-search__form-control input {
      font-size: 1rem;
    letter-spacing: 0;
}
body {
    font-size: 1rem;
    letter-spacing: 0rem;
}

/* Text Alignment */
.align-center {
    text-align: center;
}

.header__heading svg {
    width: 250px;
}

.header {
     row-gap: 0!important;
}
/* Padding and Margins */
.padding-top-75, .pt-75 {
    padding-top: 4.5rem;
    margin: 0;
}

.padding-top-150 {
      padding-top: 9rem;
    margin: 0;
}
.padding-bottom-75, .pb-75 {
    padding-bottom: 4.5rem;
    margin: 0;
}

.width-100 {
  width: 100%;
}

.cart-drawer__button-price:before {
  opacity: 0!important;
}

.padding-top-25, .pt-25 {
    padding-top: 0.75rem;
    margin: 0;
}

.padding-bottom-50 {
    padding-bottom: 2.7777rem;
    margin: 0;
}

.padding-bottom-25, .pb-25 {
    padding-bottom: 0.75rem;
    margin: 0;
}

.padding-bottom-30{
   padding-bottom: 1.5rem;
}

/* Page Container */
.page-container,
.ContainerGrid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.3888rem;
    padding-right: 1.3888rem;
    max-width: 1400px;
}

.page-container-header {
   padding-left: 1.3888rem;
    padding-right: 1.3888rem;
}

/* Header */
.header {
box-shadow: none;
    padding-top: 0 !important;
  padding-bottom: 0px;
}

.header__icon, 
.header__icon--cart .icon {
    height: auto;
    width: auto;
}

.header__icon--cart {
    margin-right: 0;
}

.header__icon .icon {
    width: auto !important;
    height: 1.4rem;
}

.header__icons {
    gap: 1.1rem;
}

.header__icons svg, .cart_svg {
    max-height: 22px;
}

.header__menu-item {
    padding: 0.75rem;
}

.header__menu-item span, .header__primary-nav-item a {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2051rem;
      letter-spacing: 0;
    text-decoration: none !important;
}

/* Cart Bubble */
.cart-count-bubble {
    position: absolute;
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    bottom: 2rem;
    left: 2.2rem;
}

.cart-drawer  *{
      letter-spacing: 0;
}

/* Sticky Content */
.sticky-content h2 {
    font-size: 4rem;
    line-height: 1.1;
    color: #ff4d00;
    text-align: center;
    text-transform: none;
    font-family: 'Perfectly Nineties', sans-serif;
    font-weight: 400;
    margin: 0;
}

.sticky-content p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 1.25rem;
    font-family: 'DM Sans';
    text-transform: none !important;
}

/* Announcement Bar */
.announcement-bar{
    background: #ffb1ff;
    border: none !important;
}

.announcement-bar * {
    border: none !important;
    background: #ffb1ff;
    font-size: .75rem;
    letter-spacing: 1.5px;
    color: #1F1209;
}

.announcement-bar {
    text-align: center;
    padding: 0.6rem 0;
    min-height: 0;
}

/* Titles */
.title-section {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.4px;
    text-transform: none;
}


.product-info__block-item ul {
    list-style: none;
}

.price-list *{
      color: #1f1209;
    letter-spacing: 0;
}




.product-info__block-item ul li:before {
    background-image: url(https://cdn.shopify.com/s/files/1/0916/1349/5608/files/favicon-1_512x512px-orange.svg?v=1734346595);
    display: block;
    content: " ";
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    position: absolute;
    left: 0;
    margin-top: 0.2rem;
}

.product-title  {
    font-size: 2rem;
    margin: 0;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0;
    letter-spacing: 0.4px;
    text-transform: none;
}

h1, .h1 {
    font-size: 2.75rem;
}

h2, .h2 {
    font-size: 2rem;
}

h5, .h5 {
    font-size: 0.75rem;
    letter-spacing: 1.5px;
}

/* Buttons */
.outline_button.white {
    display: inline-flex;
    max-width: 12rem;
    padding: 1.25rem 1.45rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0.05rem solid #fff;
    color: #fff;
    text-decoration: none !important;
    border-radius: 100px;
    font-size: 0.9rem;
    font-weight: 385;
    line-height: 0.9em;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.outline_button.white:hover {
    border-color: #fff !important;
    background: #fff !important;
    color: #2fc7ff !important;
}

/* CTA Buttons */
.cta_button {
    display: inline-flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border: 0.05rem solid #f25314;
    color: #fff;
    background: #f25314;
    text-decoration: none !important;
    border-radius: 100px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}


.shopify-payment-button__button {
    display: inline-flex;
    white-space: nowrap;
      font-size: .9rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border: 0.05rem solid #f25314;
    color: #f25314;
    background: transparent;
    letter-spacing: 0!important;
    text-decoration: none !important;
    border-radius: 100px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.quantity-selector {
    border-radius: 100px;
}

.shopify-payment-button__button:hover{
    color: #ff7a2a!important;
     border: 0.05rem solid #ff7a2a!important;
   transition: all .3s ease-in-out;
}
.header__primary-nav-item:before {
  display: none;
}



.outline_btn {
      display: inline-flex;
    white-space: nowrap;
    justify-content: center;
     padding: 0.65rem 1.5rem;
    align-items: center;
  font-size: .9rem;
    border: 0.05rem solid #005d40;
    color: #005d40;
font-weight: 600!important;
    text-decoration: none !important;
    border-radius: 100px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.outline_btn:hover {
    background: #005d40;
   transition: all 0.3s ease-in-out;
    color: #fff;
}
.cta_button:hover, .cta_button:active  {
  background: #ff7a2a;
     border: 0.05rem solid #ff7a2a;
   transition: all .3s ease-in-out;
}

.button_grid_product:hover, .button_grid_product:active  {
opacity: 0.75;
   transition: all .3s ease-in-out;
}


.feature-badge {
    padding: .1rem .8rem;
    background-color: rgb(248 247 244)!important;
    border-radius: 20px;
    font-size: 0.9rem !important;
    align-items: center;
    column-gap: .5rem;
    display: inline-flex
;
}



.button_grid_product {
    display: inline-flex
;
    white-space: nowrap;
    padding: .65rem 1rem;
    justify-content: center;
    align-items: center;
    border: .05rem solid #f25314;
    color: #fff;
    background: #f25314;
    text-decoration: none !important;
    border-radius: 100px;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: .9em;
    text-align: center;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
}

.cta_button {
    padding: 0.65rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.cta_button svg {
    width: 1.5rem;
    min-width: 1.5rem;
    margin-left: .3rem;
}

.button_grid_product {
    padding: 0.65rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

/* Video */
#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    object-position: 0 -5rem;
    max-width: 100%;
}

/* Custom Grids */
.custom-product-grid-wrapper .product-card {
    max-width: 20rem;
}

.custom-product-grid-wrapper .product-description {
    font-size: 0.8rem;
    line-height: 1.5;
    color: #666;
    margin: 0;
}

.icon_blocks .content-block {
       width: 100%;
    display: flex;
}


.icon-description {
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #1f1209;
    margin: 0;
}



.custom-product-grid-wrapper .product-title a, .icon-title {
    font-weight: 700;
    font-size: 1.3rem;
    color: #1f1209;
    font-family: 'DM Sans';
    text-decoration: none !important;
}


.product-form form {
  width: 11rem;
}


/* Footer */

.footer__block--newsletter p {
color: #fff;
}

.footer{
   position: relative;
}

.subfooter a:hover {
  transition: all .3s ease-in-out;
   opacity: 1;
 }

 .subfooter a {
     transition: all .3s ease-in-out;
   text-decoration: underline;
font-size: 0.8rem;
   color: #fff;
   opacity: 0.65;
 }
 .subfooter p {
font-size: 0.8rem;
   color: rgb(var(--text-color) / .65);
}
.subfooter {
  align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.footer__block form .align-self-start {
    position: absolute;
      right: 0.8rem;
    top: 0px;
    bottom: 0px;
    height: 100%;
    display: flex
;
    align-items: center;
    justify-content: center;
}

.h-captcha {
  position: absolute;
}
.footer__block  form{
      position: relative;
}
.footer__block .h6{
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
}

#shop-hcaptcha-badge-container {
  display: none!important;
}

.footer__block form input{
    border-radius: 7px;
}

.footer__block  form button svg {
    width: 10px !important;
    height: 10px !important;
}

.footer__inner {
    row-gap: 1rem;
}

.footer__inner {
    z-index: 1;
    position: relative;
}

  .hover_footer  {
        position: absolute;
    left: 0px;
    right: 0px;
    opacity: 0.1;
    top: 0px;
    background-repeat: no-repeat;
    bottom: 0px;
    z-index: 0;
    background-size: 60vw;
    background-position: 150% 65%;
background-image: url(https://cdn.shopify.com/s/files/1/0916/1349/5608/files/white-paw.svg?v=1734352123);
   
    }

.footer__block form button {
    position: top;
    top: 0px;
    width: 1.2rem;
    height: 1.2rem;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}


.health-dog-directions-colom {
    padding: 0;
     border-radius: 0px;
    text-align: left;
}

.health-dog-directions-colom .table-header *{
  font-weight: 600;
font-size: 0.8rem;
}

.health-dog-directions-colom h4 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.health-dog-directions-colom p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.health-dog-directions-colom ul {
  list-style: none;
  padding: 0;
}

.health-dog-directions-colom ul li {
    padding-left: 0px !important;
 }



.health-dog-directions-colom li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

.health-dog-directions-colom li span {
  font-size: 0.9rem;
}

.smail-text-size-cstm span {
  font-weight: bold;
}

.buy_section  .cta_button  {
      padding: .65rem 2.2rem;
}
.product-info__block-item .prose li{
margin-left: 0.3rem;
}

.product-gallery__media  {
    background: #fff;
    border-radius: 25px;
}

 .table_size {
    max-width: 25rem;
}

.table_size ul {
  margin-bottom: 0px!important;
}
.table_size ul li:before {
display: none!important;
}
.table_size li {
    display: flex;
    justify-content: space-between;

}

.table_size * {
  margin-left: 0px!important;
}
.rating-badge__stars svg {
    width: 0.9rem;
}


.accordion__toggle {
    padding: 1.2rem 0rem;
    margin: 0px !important;
    margin-top: 0;
    margin-bottom: 0;
      line-height: 1.1;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}


.product-info__block-item[data-block-type="rating"] {
      padding-top: 0px!important;  
}

.product-info__block-item[data-block-type="accordion"] {
  padding: 0px!important;
}

.product-info__block-item[data-block-type="accordion"] .accordion  {
    border-top: none!important;
}

.accordion__toggle {
  text-transform: uppercase;
}

.no-padding-bottom {
  padding-bottom: 0px!important;
}

.icons-title {
letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: 'DM Sans';
    font-weight: 500;
    margin-top: -10px;
}

    .text-with-icons {
        --text-with-icons-items-per-row: 4!important;
    }

.product-info__block-item .accordion__content li, .accordion__content {
    font-size: 0.9rem;
}

    .text-with-icons {
        --text-with-icons-items-per-row: 3;
        --text-with-icons-row-gap: 4rem;
    }


.product-sticky-bar__info .h6:not(.text-subdued) {
    font-weight: 700;
font-size: 0.9rem;
}

    .product-sticky-bar {
      background: rgb(248 247 244) !important;
        border-color: rgb(248 247 244) !important;
        border-top: 1px solid;
    }

.product-sticky-bar__info *{
  letter-spacing: 0px!important;
}

.buy_section {
gap: 0.5rem;

align-items: center;
}


.health-dog-directions-colom .left-column {
  width: 80%;
}


.health-dog-directions-colom li {
       padding-bottom: 0!important;
}

.health-dog-directions-colom span {
     padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.health-dog-directions-colom .right-column, .health-dog-directions-colom .center-column{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-with-text ul li {
    padding-left: 1.75rem;
    padding-bottom: 1rem;
}

.image-with-text .prose :is(ol,ul) {
    row-gap: 0!important;
}


.image-with-text img {
    border-radius: 25px;
}


.image-with-text ul {
    list-style: none !important;
}
.image-with-text ul li {
  position: relative;
}

.health-dog-directions-colom li:before {
display: none!important;
}

.health-dog-directions-colom * {
margin-left: 0px!important;
}


.accordion__toggle .text-with-icon {
    padding-right: 1rem;
  line-height: 1.6;
}

.product-info__block-item[data-block-type="text"] {
  padding-top: 0px!important;
}
.image-with-text ul li:before {
    background-image: url(/cdn/shop/files/favicon-1_512x512px-orange.svg?v=1734346595);
    display: block;
    content: " ";
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    position: absolute;
    left: 0;
    margin-top: .35rem;
}



.image-with-text .title-section {
  
    margin-top: 0.5rem !important;
}

.image-with-text .h6 {
  font-size: 0.9rem;
    text-transform: uppercase;
}


.product-info__block-group[data-group-type="feature-badge-list"]
{
     margin-top: 0px !important;
    padding-top: 0px !important;
}

.stamp {
     transition: transform 0.1s linear;
    position: absolute;
    width: 8rem;
    top: 7rem;
    left: -4rem;
}


.shopify-section:not(:first-child) .bordered-section {
    border: 1px solid #f8f7f4 !important;
}


.hero-title {
  font-size: 4rem;

text-align: left;
    width: 30rem;
  font-weight: 400;
      letter-spacing: 0rem;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-family: 'Perfectly Nineties', sans-serif;
}

.hero-subtext {
      letter-spacing: 0rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
    display: block;
    color: #fff;
    margin-bottom: 1.25rem;
    font-family: 'DM Sans';
    text-transform: none !important;
}




.cart-drawer *:not(.icon-discount) {
    list-style: none;
    padding-inline-start: 0px !important;
    margin-left: 0px !important;
}


@media (min-width: 1000px) {
  .product-gallery {
    position: sticky;
    top: 5rem;
}
}