
  .custom-video-slider {
    padding-top: 75px;
  }
.custom-video-slider .swiper-slide img {
     height: 60vh;
}
.custom-section-slider .cards_block img{
    filter: grayscale(100%);
    width: 100%;
    height: auto;
    transition: filter 0.5s ease; 
 height: 60vh;
}

.slider_content {
color: #fff;
 transition: all 0.5s ease;
  text-align: center;
}

.slide-subtitle {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.4;
}

 .swiper-slide:hover .slider_content {

opacity: 0!important;
}

.slider_content {
    padding-right: 10px;
    padding-left: 10px;
}

  .slide-subtitle {
        font-weight: 400;
  }


  .icon_stars {
        width: 130px;
    background: #f8f6f5;
margin-bottom: 15px;
    padding: 7px 13px;
    border-radius: 100px;
  }


  .slidetitle {
  
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: .4px;
  }

.play_btn {
       position: absolute;
    bottom: 0;
  top: 0px;
    right: 0px;
    left: 0px;
bottom: 0px;
   transition: all 0.5s ease;
  display: flex;
justify-content: center;
align-items: center;
}

.play_btn svg  {
    max-width: 2.5rem !important;
}

.slider_content {
       position: absolute;
    bottom: 0;
    right: 0px;
    left: 0px;
    z-index: 1;
 transition: all 0.5s ease;
    padding-bottom: 1.944rem;
}
.cards_block .swiper-slide:hover::before {
 transition: all 0.5s ease;
opacity: 0;
}


.cards_block .swiper-slide:hover  .play_btn {
 transition: all 0.5s ease;
opacity: 0;
}

.cards_block .swiper-slide::before {
    content: "";
    transition: all .5s ease;
    position: absolute;
    top: 50%;
    opacity: 1;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #000000b3, #0000);
    z-index: 0;
 
}


.custom-section-slider, .custom-product-slider {
    display: grid
;
    grid-template-columns: 40% 1fr;
    width: 86.56974rem;
}

.custom-video-slider .slide-title {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.cards_block .swiper-slide {
  display: grid;
    overflow: hidden;
max-width: 18rem;
}

.cards_block .swiper-slide:hover .slide-title {
color: #fff;
 transition: all 0.5s ease;
}




.custom-section-slider, .custom-product-slider {
    display: grid;
    grid-template-columns: 40% 1fr;
    width: 86.56974rem;
}

  .custom-video-slider .swiper-slide {
border-radius: 25px;
        max-height: 28rem;
  position: relative;
  cursor: pointer;
}

.custom-video-slider .swiper-slide img {
  width: 100%;
  height: auto;
}

  .carousel-area  {
    overflow: hidden;
    width: 100%;
}

  .carousel-area  .swiper-wrapper {

    gap: 20px;
}

.custom-video-slider .swiper-slide video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none; 
}

.custom-video-slider .swiper-slide:hover video {
  opacity: 1;
}


 .custom-video-slider .text-area  {
    
    width: 40%;
    display: flex
;
    justify-content: center;
    padding: 50px;
    align-items: center;

  }

  .custom-video-slider {
    display: flex;
  }

.custom-video-slider .slide-title {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}



@media (max-width: 768px) {
.custom-video-slider {
    display: block;
}

.play_btn svg {
    width: 25px;
}

.custom-video-slider .swiper-slide:first-child{
  margin-left: 20px;
}

.custom-video-slider .swiper-slide:last-child{
  mpadding-right: 40px;
}
.custom-video-slider .swiper-slide {
        border-radius: 20px;
        max-height: 302px;
        max-width: 210px;
}

.custom-video-slider .text-area {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 20px 35px 20px;
    align-items: center;
}

.custom-video-slider .text-area {
    width: 100%;
}
}