@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

.custom-product-grid-wrapper .product-card:hover {
  transform: none !important;
}


  .footer__block.footer__block--newsletter {
  
    max-width: 320px;
  }
.mb-padding-right-left {
  padding-left: 20px;
padding-right: 20px;
}

  .hide-mobile {
display: none!important;
}
  .no-mb-padding {
    padding-right: 0px!important;
    padding-left: 0px!important;
  }
  .shopify-section--scrolling-content {
    overflow: hidden;
  }
    .hero-title {
        font-size: 34px!important;
        text-align: left;
        width: auto!important;
    }

    .in_slider {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .page-container, .ContainerGrid {
        padding-left: 20px;
        padding-right: 20px;
    }

    .image-with-text-ta__grid:not(.video_section) .image-with-text-ta__text-item {
        min-width: 100%;
    }

    .image-with-text-ta__content {
        padding: 25px 25px;
    }

    .image-with-text-ta .grid {
        margin-bottom: 0;
        display: block;
    }

    .circle-wrapper, .sticky-content {
        min-width: 100%;
    }

    .header__nav-icon {
        width: 22px;
    }

    .header__heading svg {
        max-width: 180px;
    }

    .custom-hero-section {
        padding-top: 100px;
        padding-bottom: 0px;
    }

    .sticky-left {
        flex-direction: row-reverse;
        margin-left: auto;
        height: auto;
    }

    .image-with-text-ta__grid {
        background-position: 55% 0%;
    }

    .custom-product-grid .title-section, .custom-product-grid .sub-title {
        margin-right: auto;
        margin-left: auto;
    }

    .custom-product-grid-wrapper .custom-product-grid .grid-container {
        display: grid;
      overflow: auto;
    }


 

    .padding-bottom-75, .pb-75 {
        padding-bottom: 35px;
    }

    .padding-top-75, .pt-75 {
        padding-top: 35px;
    }

    .custom-product-grid-wrapper .product-title a, .icon-title {
        font-weight: 700;
        font-size: 20px;
    }

.custom-product-grid-wrapper .features-list {
    display: flex;
    flex-flow: wrap;
}

.button_grid_product {
         padding: .75rem 1rem;
        font-size: 14px !important;
}


.custom-product-grid-wrapper .features-list li {
  font-size: 12px;
}
.custom-product-grid-wrapper .product-card {
    width: 70vw;
    max-width: 100% !important;
    min-width: 275px;
}

.content-product-card {
       gap: 14px;
    padding: 0rem 20px 20px;
    display: grid;
}


 .cart-drawer a.h6{
    font-size: 18px;
}

.padding-bottom-50 {
    padding-bottom: 25px;
}

.cart-drawer .h4[slot="header"]{
    font-size: 28px;
}

.custom-product-grid-wrapper .custom-product-grid .grid-container {
    justify-content: flex-start !important;
}

    .custom-product-grid-wrapper .product-description {
        font-size: 12px;
    }

    .content-product-card {
        gap: 10px;
    }

    .comparison-table img {
        top: -3rem;
    }

    .padding-bottom-25, .pb-25 {
        padding-bottom: 10px;
    }

    .comparison-table:not(.highlights-td) {
        margin-left: 10px;
    }

    .comparison-table {
        padding: 50px 10px 25px 10px;
    }

    .hero-subtext {
        font-size: 16px!important;
    }


.title-section {
    max-width: 250px;
    margin-left: auto !important;
    margin-right: auto !important;

}

    .in_slider {
              max-width: 85%;
        width: auto !important;
        margin-right: auto !important;
        margin-left: 0 !important;
        padding-left: 25px;
        padding-right: 25px;
    }

    .hero-video {
        width: 100%;
        object-position: center!important;
    }

    .custom-hero-section {
        position: relative;
        min-height: auto;
    }

.product-card {
       gap: 0px;
}

.custom-product-grid-wrapper .product-card:first-child {
    margin-left: 20px;
}

.custom-product-grid-wrapper .product-card:last-child {
    margin-right: 20px;
}

.custom-product-grid-wrapper .custom-product-grid .grid-container {
  scrollbar-width: none;
    gap: 20px;
  -ms-overflow-style: none;
}

.custom-product-grid-wrapper .custom-product-grid .grid-container::-webkit-scrollbar {
  display: none;
}



.cards_block {
   scrollbar-width: none;
  -ms-overflow-style: none;
 
}

  .cards_block::-webkit-scrollbar {
  display: none;
}


  

.overflow-scroll-mb {
    overflow: auto;
    padding-right: 20px;
}

.overflow-scroll-mb {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.overflow-scroll-mb::-webkit-scrollbar {
  display: none;
}
.product-info__block-item .prose li {
    position: relative;
}

.product-info__block-item ul li:before {
    left: -15px;
}

.product-info__block-item .prose li {
       margin-left: 0px;
}

.quantity-options {
    display: flex!important;
    justify-content: space-between;
    margin-top: 0;
    flex-flow: column;
    width: 100%!important;
}

.main-himan-grade-et-feed-section .row {
    display: block!important;
}

.feature-badge-list {
  gap: 0;
}

  .image-with-text picture img {
    width: 100%!important;
  }

.icons-title {
     font-size: 8px;
}

.text-with-icons {
       --text-with-icons-row-gap: 20px;
}

.text-with-icons__item img{
    width: 30px;
}

.image-with-text-ta__content .cta_button {
    margin-right: auto;
    margin-left: auto;
}

.custom-video-slider {
    padding-top: 0!important;
}


.accordion__content {
    margin-block-start: 0;
    padding-block-end: 20px;
    padding-inline-end: 20px;
padding-bottom: 20px!important;
}

  .cart_svg {
    min-width: 25px;
  }
.product-info__block-item .accordion__content li, .accordion__content {
    font-size: 14px;
}


  .icon_blocks {
    margin-top: 0px!important;
  }

.stamp {
   width: 70px !important;
        top: -30px !important;
    left: 10px!important;
}

.footer__block .h6 {
       font-size: 14px;
}


.prose {
    min-width: 100%;
        padding-left: 0px!important;
}

.title-section {
    font-size: 28px;
}


.new-price {
    font-size: 14px;
}

.offer-title .title {
    font-size: 16px;
}

.box-content .description {
    font-size: 13px;
}


  

.subfooter {
    display: grid !important;
    gap: 14px;
}


  .payment-methods svg {
    max-width: 35px;
  }

  .product-gallery {
    position: unset;
    top: 0px;
    border-radius: 0px !important;
}

.product-gallery__media {
    border-radius: 0px!important;
}

  .title-section strong {
    display: block!important;
  }

  .stamp {
    width: 55px !important;
    top: 10px !important;
  }
}
