/* Define the font-family "Perfectly Nineties" with all styles */
@font-face {
    font-family: 'Perfectly Nineties';
    src: url('https://cdn.shopify.com/s/files/1/0916/1349/5608/files/PerfectlyNineties-Regular.ttf?v=1734294521') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Perfectly Nineties';
    src: url('https://cdn.shopify.com/s/files/1/0916/1349/5608/files/PerfectlyNineties-RegularItalic.ttf?v=1734294521') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Perfectly Nineties';
    src: url('https://cdn.shopify.com/s/files/1/0916/1349/5608/files/PerfectlyNineties-Bold.ttf?v=1734294521') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Perfectly Nineties';
    src: url('https://cdn.shopify.com/s/files/1/0916/1349/5608/files/PerfectlyNineties-BoldItalic.ttf?v=1734294521') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Perfectly Nineties';
    src: url('https://cdn.shopify.com/s/files/1/0916/1349/5608/files/PerfectlyNineties-Extrabold.ttf?v=1734294521') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Perfectly Nineties';
    src: url('https://cdn.shopify.com/s/files/1/0916/1349/5608/files/PerfectlyNineties-ExtraboldItalic.ttf?v=1734294521') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Perfectly Nineties';
    src: url('https://cdn.shopify.com/s/files/1/0916/1349/5608/files/PerfectlyNineties-Semibold.ttf?v=1734294521') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Perfectly Nineties';
    src: url('https://cdn.shopify.com/s/files/1/0916/1349/5608/files/PerfectlyNineties-SemiboldItalic.ttf?v=1734294521') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Perfectly Nineties';
    src: url('https://cdn.shopify.com/s/files/1/0916/1349/5608/files/PerfectlyNineties-Black.ttf?v=1734294521') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Perfectly Nineties';
    src: url('https://cdn.shopify.com/s/files/1/0916/1349/5608/files/PerfectlyNineties-BlackItalic.ttf?v=1734294521') format('truetype');
    font-weight: 900;
    font-style: italic;
}

