
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p{
  -webkit-font-smoothing: antialiased;
}


.global-media-settings{
  border: none;
}

h1, .h1{
      letter-spacing: -0.04em !important;
    line-height: 1.1em !important;
}

h2, .h2, h3, .h3{
      letter-spacing: -0.04em !important;
    line-height: 1.4em !important;
}




.button, .button-label, .shopify-challenge__button, .customer button{
  min-height: 42px;
  font-weight: 700;
  letter-spacing: -0.001em;
}


p, .p, span{
  letter-spacing: -0.005em  !important;
  line-height: 1.6;
}

p.small{
      font-size: 14px;
    margin: 0;
}

h4, .h4,{
  letter-spacing: -0.01em  !important;
}
