
  .content-item:not(.active) {
    display: none;
  }

.custom-video-slider .swiper-slide img {
    width: 100%;
    height: auto;
    height: 50vw;
    object-fit: cover;
}

.color-circle {
   
 
    width: 380px;
    height: 380px;
    transition: background-color 0.2s linear;
    border-radius: 9999px;
}



 

  .circle-wrapper {
        display: flex
;

  height: calc(100vh - var(--header-offset));
    justify-content: center;
    align-items: center;

  }

.circle-wrapper, .sticky-content {
  width: 50%;
}
     .color-circle {
        top: 50%;
        right: 80%;
     
    }
 .color-circle {
        width: 480px;
        height: 480px;
    }

  .scroll-images {
     z-index: 1;
    margin-top: -750px;
    width: 50%;
    position: relative;
}



.image-item  {
    display: flex;
  height: calc(100vh - var(--header-offset));
}


.sticky-content h2 {
       transition: all 0.2s linear;
      }



.image-item img{
max-width: 100%;
    width: 295px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}


  .color-circle:not(.data-hidden) {
    display: block!important;
  }


  .sticky-left {

    display: flex
;
    width: 100%;
    flex-direction: row-reverse;
    margin-left: auto;
    height: calc(100vh - var(--header-offset));
  }
  

 .sticky-content {
 
  height: calc(100vh - var(--header-offset));
    display: flex
;
    justify-content: center;
    align-items: center;
    text-align: center;
}

  .sticky-left  {
    position: sticky;
    top: 50px;
    text-align: right;
}

.pagination-dots {

  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}



.pagination-dots .dot {
  width: 10px;
  height: 10px;
  margin: 5px 0;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.pagination-dots .dot.active {
  background: black;
  opacity: 1;
}


.content-item {
      max-width: 30rem;
}


   .index_01 .sticky-scroll-container {
     background: #ffb7ff;
   }

   .index_02 .sticky-scroll-container {
     background: #60c6ff!important;
   }

     .index_03 .sticky-scroll-container {
     background: #ebee00!important;
   }


  
   .image-item[data-index="1"] img {
    transform: rotate(7deg);
   }

    .image-item[data-index="2"]  img {
     transform: rotate(-7deg);
   }

    .image-item[data-index="3"]   img {
     transform: rotate(7deg);
   }

   .index_01 .color-circle {
     background-color: #ffb7ff;
   }

   .index_02 .color-circle {
     background-color: #60c6ff!important;
   }

     .index_03 .color-circle {
     background-color: #ebee00!important;
   }
  
 @media (min-width: 768px){
 .sticky-scroll-container {
    background-image: url(https://cdn.shopify.com/s/files/1/0916/1349/5608/files/bones-new.png?v=1734304196) !important;
    background-repeat: repeat;
    background-attachment: fixed;
        background-color:  #fff;
  }
}

@media (max-width: 768px){
  .sticky-content {
    padding-top: 20px;
    align-items: flex-start;
  }

  .image-item img{ 
max-width: 50vw!important;
  }

  .image-item img{
    width: 350px!important;
}


    .circle-wrapper.hide-pc {
        position: sticky;
        top: 370px;

}

    .scroll-images {

        z-index: 0 !important;
    }

    .sticky-content {
        background: rgba(255, 255, 255, 0.8);
        padding-top: 20px;
    backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 3;
    }

    .scroll-images {
        min-width: 100%!important;
        opacity: 1 !important;
    }

    .image-item {
        opacity: 1 !important;
    } 
  

.sticky-left {
    display: grid;
}

    .sticky-content {
        padding-top: 20px;
        height: 275PX;
}

.circle-wrapper {
    height: auto;
}
.sticky-content h2 {
    font-size: 40px;
}

    .scroll-images {
        z-index: 1;
        margin-top: -80VH;
    }
.sticky-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 20px;
}


.color-circle {
    width: calc(100% - 80px);
    height: calc(100vw - 80px);
}
.color-circle {
    position: unset;
 }
  .color-circle .image-item  {
    top: 140px;
    position: absolute;
}
  .sticky-left  {
      position: sticky;
    top: 50px;
    z-index: 2;
   background-repeat: repeat;

 
  }

.image-item {
  opacity: 0;
  transform: translateY(90px);
  transition: opacity 0.1s ease, transform 0.85s ease;
}

.index_03 .image-item[data-index="3"],
.index_02 .image-item[data-index="2"],
.index_01 .image-item[data-index="1"] {
  opacity: 1 !important;
  transform: translateY(-50px);
}


    .sticky-left {
        z-index: 1;
        overflow: hidden;
        padding-bottom: 50px;
    background-repeat: repeat;
    background-attachment: fixed;
        display: grid;
        height: auto;
    }

  .icon_blocks {
    margin-top: 0px;
  }

    .scroll-images {
        z-index: 0;
opacity: 1;
        margin-top: -420px;
        margin-bottom: -50px !important;
    }

    .scroll-images {
        overflow: hidden;
    }


    .scroll-images {
              max-width: 25px !important;
    }

.sticky-scroll-section {
  margin-bottom: 120px;
}

.scroll-images {
    z-index: 1;
       max-width: 335px;
          width: 100%;
    margin-left: auto;
    margin-right: auto;
}
}