{% section 'hero' %}
{% section 'features' %}
{% section 'product-showcase' %}

<div class="section-seperator"></div>

{% section 'testimonials' %}

<div class="section-seperator"></div>

{{ content_for_index }} 