{% section 'hero' %}
<div id="features-section">
  {% section 'features' %}
</div>
<div id="shop">
  {% section 'product-showcase' %}
</div>

<div class="section-separator"></div>

<div id="testimonials-section">
  {% section 'testimonials' %}
</div>

<div class="section-separator"></div>

{{ content_for_index }} 